.footer-container {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
   
    height: 75px;
    width: auto;
  }
  
  span {
    font-size: 1rem;
    color: #888;
  }
  